

#image-nav {
    width: 30%;
    height: 50%;
}

.navbar-nav{
    font-size: 15px;
    width: auto;
}
.nav-link{
    font-size: 16px;
    width: auto;
}
#get-started{
    text-align: center;
    padding-top: 5em;
}
.container{
    display: block;
}
.header{
    font-size: 2em;
    margin: .6em;
}
#email{
    width: 16em;
    margin: .6em;
    padding-left: 10px;
}
#get-started > div:nth-child(3) > button{
    background-color: darkorange;
}

#premium, #fast-shipping, #quality-assurance {
    padding-left: 420px;
    text-align: left;
    padding-bottom: 50px;
}

#feature {
    margin-top: 40px;
}

#premium, #fast-shipping, #quality-assurance, h3 {
    font-size: xx-large;
}
#premium, #fast-shipping, #quality-assurance, p {
    font-size: 20px;
}

#how-it-works{
    display: flex;
    justify-content: center;
}

.image-icon {
    width: 80px;
    height: 80px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.product{
    display: flex;
    float: left;
    margin: 10px;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #000;
    border-radius: 3px;
    width: calc(80% / 3);
    position: relative;
}
#price-list > div > ul > li > button{
    background-color: darkorange;
    margin-bottom: 10px;
}
.title{
    background-color: rgb(245, 245, 245);
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
footer{
    background-color: rgb(245, 245, 245);
    width: 100%;
    /* margin: 0 auto; */
    padding: 8px;
    margin-top: 500px;
    align-items: flex-end;
}

.footer-list{
    display: flex;
}
/* body > footer > span{
    text-align: right;
} */
